<div>
    <h4 style="font-size: 20px;"><strong>資訊管理學會</strong></h4>
    {% assign postsByYearMonth = site.categories["資訊管理學會"] | group_by_exp: "post", "post.date | date: '%Y年 %_m月'" %}
    {% for yearMonth in postsByYearMonth %}
    {% for post in yearMonth.items %}
    <div><a href="{{ post.url }}"
            style="color: var(--bs-primary);overflow: hidden;text-overflow: ellipsis;/*white-space: nowrap;*/">{{
            post.title }}</a>
        <!-- <p>{{ post.excerpt }}</p> -->
        <h6 style="margin-top: 15px;">{{ post.date | date: "%Y-%-m-%-d" }}</h6>
        <hr style="border: 1px dashed #000;">
    </div>
    {% endfor %}
    {% endfor %}
    <div style="text-align: right;">
        <a class="btn btn-light btn-sm" href="/news/CSIM">查詢更多</a>
    </div>
</div>

<div style="margin-top: 25px;">
    <h4 style="font-size: 25px;"><strong>學校</strong></h4>
    <div>
        {% assign postsByYearMonth = site.categories["學校"] | group_by_exp: "post", "post.date | date: '%Y年 %_m月'" %}
        {% assign sortedPosts = postsByYearMonth | sort: 'name' | reverse %}
        {% for yearMonth in sortedPosts limit:2 %}
        {% for post in yearMonth.items limit:2 %}
        <div><a href="{{ post.url }}"
                style="color: var(--bs-primary);overflow: hidden;text-overflow: ellipsis;/*white-space: nowrap;*/">{{
                post.title }}</a>
            <!-- <p>{{ post.excerpt }}</p> -->
            <h6 style="margin-top: 15px;">{{ post.date | date: "%Y-%-m-%-d" }}</h6>
            <hr style="border: 1px dashed #000;">
        </div>
        {% endfor %}
        {% endfor %}
    </div>
    <div style="text-align: right;">
        <a class="btn btn-light btn-sm" href="/news/school">查詢更多</a>
    </div>
</div>

<div style="margin-top: 25px;">
    <h4 style="font-size: 20px;"><strong>業界</strong></h4>
    <div>
        {% assign postsByYearMonth = site.categories["業界"] | group_by_exp: "post", "post.date | date: '%Y年 %_m月'" %}
        {% assign sortedPosts = postsByYearMonth | sort: 'name' | reverse %}
        {% for yearMonth in sortedPosts %}
        {% for post in yearMonth.items %}
        <div><a href="{{ post.url }}"
                style="color: var(--bs-primary);overflow: hidden;text-overflow: ellipsis;/*white-space: nowrap;*/">{{
                post.title }}</a>
            <!-- <p>{{ post.excerpt }}</p> -->
            <h6 style="margin-top: 15px;">{{ post.date | date: "%Y-%-m-%-d" }}</h6>
            <hr style="border: 1px dashed #000;">
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>