---
layout: default
---

<div class="carousel slide" data-bs-ride="false" id="carousel-1" style="margin-bottom: 40px;">
    <div class="carousel-inner">
        <div class="carousel-item active home-carousel-item"><img class="w-100 d-block"
                src="/assets/img/dian_zi_heng_fu_-1500x400dpi-3_0.jpg" alt="Slide Image"></div>
        <div class="carousel-item home-carousel-item"><img class="w-100 d-block" src="/assets/img/20230824b.png" alt="Slide Image">
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
                class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
            class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span
                class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
    <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0"
            class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-12 col-lg-8 content" style="margin-bottom: 30px;">
            <div style="background-color: white;border-radius: 0px; padding-left: 25px; border-left: 7px solid #0b2041;">
                <h2 style="font-size: 25px; height: 70px; line-height: 68px;"><strong>最新消息</strong></h2>
            </div>
            {{ content }}
        </div>
        <div class="col-md-12 col-lg-4">
            {% include sidebar.html %}
        </div>
    </div>
</div>